@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Archivo+Narrow|Nunito+Sans");
body {
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden !important; }
  body .navbar .navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid yellow !important; }
    @media (max-width: 768px) {
      body .navbar .navbar-brand {
        font-size: 35px; } }
    @media (max-width: 515px) {
      body .navbar .navbar-brand {
        font-size: 23px; } }
  body .navbar .container .collapse .nav-link {
    font-family: "Archivo Narrow",sans-serif;
    font-weight: 700;
    transition: all 1s; }
  body .navbar .container .collapse .nav-link:hover {
    border-bottom: 3px solid red;
    transition: all 1; }
  body .navbar .nav-search-wrapper {
    display: flex;
    float: right;
    width: 100%;
    justify-content: flex-end; }
    body .navbar .nav-search-wrapper form {
      width: 100% !important;
      display: none; }
      body .navbar .nav-search-wrapper form .input-group {
        margin-bottom: 0px !important; }
        body .navbar .nav-search-wrapper form .input-group input {
          border: 1px solid #e4dede;
          border-right: 0px;
          border-left: 0px;
          padding: 10px 15px;
          border-radius: 0px; }
        body .navbar .nav-search-wrapper form .input-group .form-control:focus {
          box-shadow: none; }
        body .navbar .nav-search-wrapper form .input-group button {
          border-right: 0px;
          border-radius: 0px;
          background: #fff;
          padding: 10px 15px; }
        body .navbar .nav-search-wrapper form .input-group button:focus {
          box-shadow: none; }
    body .navbar .nav-search-wrapper .search-toggle-one {
      border: 0px;
      background: #fff;
      padding: 10px 15px; }
    body .navbar .nav-search-wrapper .search-toggle-two {
      border: 1px solid #e4dede;
      border-left: 0px;
      background: #fff;
      padding: 10px 15px; }
  body #carousel-wrapper {
    width: 100%;
    padding: 40px 20px;
    margin-right: auto;
    margin-left: auto;
    background: #000000; }
    @media (min-width: 992px) {
      body #carousel-wrapper {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      body #carousel-wrapper {
        max-width: 1140px; } }
    @media (max-width: 992px) {
      body #carousel-wrapper {
        width: 100%;
        padding: 40px 0px;
        margin: 0px; } }
    body #carousel-wrapper .custom-col {
      border-top: 2px solid #f8f8f8;
      padding-top: 10px; }
    body #carousel-wrapper .nav-link {
      color: white;
      font-size: 13px; }
    body #carousel-wrapper .nav-link.active {
      background: white;
      color: black;
      border-bottom: 2px solid #FFC107;
      border-radius: 20px; }
    body #carousel-wrapper .carousel-indicators {
      position: absolute;
      top: 10%;
      height: 20px;
      width: 50px;
      left: 70%; }
    body #carousel-wrapper .carousel-indicators li {
      background: white;
      height: 10px;
      width: 10px;
      border-radius: 50%; }
    body #carousel-wrapper .carousel-indicators li.active {
      background: #FFC107; }
    body #carousel-wrapper .carousel-caption {
      position: absolute;
      top: 25%;
      padding: 0px;
      padding-left: 10px;
      left: 0px;
      text-align: left;
      animation-delay: 0.5s; }
      body #carousel-wrapper .carousel-caption .text {
        background: #FFC107;
        border-left: 5px solid #804900;
        padding: 5px; }
    body #carousel-wrapper .card {
      border: 0px; }
      body #carousel-wrapper .card .card-body {
        background: black;
        color: white; }
  body .main {
    margin: 20px 0px; }
    body .main .row .posts-wrapper {
      border-radius: 0px; }
      body .main .row .posts-wrapper .posts {
        border-radius: 0px; }
        body .main .row .posts-wrapper .posts .movie-details {
          font-family: "Archivo Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px; }
          body .main .row .posts-wrapper .posts .movie-details .date {
            font-weight: 700; }
          body .main .row .posts-wrapper .posts .movie-details a {
            color: #282828; }
        body .main .row .posts-wrapper .posts .title {
          font-family: "Abril Fatface",sans-serif; }
        body .main .row .posts-wrapper .posts .text {
          font-family: "Gentium Book Basic",serif;
          font-size: 18px;
          line-height: 1.875;
          text-align: justify; }
      body .main .row .posts-wrapper .comments-wrapper form .form-group .form-control {
        border-radius: 0px;
        padding: 10px 20px;
        transition: all .5s; }
      body .main .row .posts-wrapper .comments-wrapper form .form-group .form-control:focus {
        box-shadow: none;
        border-color: #ffc400;
        transition: all .5s; }
      body .main .row .posts-wrapper .comments-wrapper .comments {
        display: flex; }
        @media (max-width: 500px) {
          body .main .row .posts-wrapper .comments-wrapper .comments .comments-img-wrapper {
            width: 15%; }
            body .main .row .posts-wrapper .comments-wrapper .comments .comments-img-wrapper img {
              width: 40px !important;
              transition: all .5s; }
          body .main .row .posts-wrapper .comments-wrapper .comments .comments-details {
            width: 85%; }
            body .main .row .posts-wrapper .comments-wrapper .comments .comments-details .date {
              font-size: 12px; } }
        @media (max-width: 800px) {
          body .main .row .posts-wrapper .comments-wrapper .comments .comments-img-wrapper {
            width: 12%; }
            body .main .row .posts-wrapper .comments-wrapper .comments .comments-img-wrapper img {
              width: 50px;
              transition: all .5s; }
          body .main .row .posts-wrapper .comments-wrapper .comments .comments-details {
            width: 85%; }
            body .main .row .posts-wrapper .comments-wrapper .comments .comments-details .date {
              font-size: 12px; } }
        @media (min-width: 800px) {
          body .main .row .posts-wrapper .comments-wrapper .comments .comments-img-wrapper {
            width: 10%; }
            body .main .row .posts-wrapper .comments-wrapper .comments .comments-img-wrapper img {
              width: 50px; }
          body .main .row .posts-wrapper .comments-wrapper .comments .comments-details {
            width: 90%; }
            body .main .row .posts-wrapper .comments-wrapper .comments .comments-details .date {
              font-size: 12px; } }
    body .main .row .side-bar .search-bar-mini {
      background: #F2F2F2; }
      body .main .row .side-bar .search-bar-mini h3 {
        font-family: "Abril Fatface",sans-serif; }
      body .main .row .side-bar .search-bar-mini .form-control {
        border-radius: 0px; }

.home-wrapper5 {
  padding-top: 20px; }
  .home-wrapper5 .heading {
    display: flex; }
    .home-wrapper5 .heading h3 {
      width: 25vw; }
    .home-wrapper5 .heading #h-1 {
      background: #ce531a;
      color: #F2F2F2;
      font-size: 25px;
      width: 25%; }
    .home-wrapper5 .heading #hr-1 {
      padding: 5px 0px;
      background: #ce531a;
      width: 5%;
      margin: 0px;
      margin-top: 10px; }
    .home-wrapper5 .heading #hr-2 {
      padding: 5px 0px;
      background: #ce531a;
      width: 70%;
      margin: 0px;
      margin-top: 10px; }
    @media (max-width: 768px) {
      .home-wrapper5 .heading #hr-3 {
        width: 50%; }
      .home-wrapper5 .heading #h-1 {
        width: 45%; } }
  @media screen and (max-width: 992px) {
    .home-wrapper5 .col-md-3 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }

/*# sourceMappingURL=style.css.map */
