@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Archivo+Narrow|Nunito+Sans");
body {
  background: #f9f9f9;
  overflow-x: hidden !important; }
  body .header-one {
    padding: 15px 0px; }
    body .header-one .nav-search-wrapper {
      display: flex;
      float: right;
      width: 100%;
      justify-content: flex-end; }
      body .header-one .nav-search-wrapper form {
        width: 100%;
        display: none; }
        @media (min-width: 992px) {
          body .header-one .nav-search-wrapper form {
            width: 40% !important; } }
        body .header-one .nav-search-wrapper form .input-group {
          margin-bottom: 0px !important; }
          body .header-one .nav-search-wrapper form .input-group input {
            border: 1px solid #e4dede;
            border-right: 0px;
            border-left: 0px;
            padding: 10px 15px;
            border-radius: 0px; }
          body .header-one .nav-search-wrapper form .input-group .form-control:focus {
            box-shadow: none; }
          body .header-one .nav-search-wrapper form .input-group button {
            border-right: 0px;
            border-radius: 0px;
            background: #fff;
            padding: 10px 15px; }
          body .header-one .nav-search-wrapper form .input-group button:focus {
            box-shadow: none; }
      body .header-one .nav-search-wrapper .search-toggle-one {
        border: 0px;
        background: #fff;
        padding: 10px 15px; }
      body .header-one .nav-search-wrapper .search-toggle-two {
        border: 1px solid #e4dede;
        border-left: 0px;
        background: #fff;
        padding: 10px 15px; }
  body .navbar .navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid yellow !important; }
    @media (max-width: 768px) {
      body .navbar .navbar-brand {
        font-size: 35px; } }
    @media (max-width: 515px) {
      body .navbar .navbar-brand {
        font-size: 23px; } }
  body .navbar .container .collapse .nav-link {
    font-family: "Archivo Narrow",sans-serif;
    font-weight: 700;
    transition: all 1s; }
  body .navbar .container .collapse .nav-link:hover {
    border-bottom: 3px solid red;
    transition: all 1; }
  body #carousel-wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 992px) {
      body #carousel-wrapper {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      body #carousel-wrapper {
        max-width: 1140px; } }
    @media (max-width: 992px) {
      body #carousel-wrapper {
        width: 100%;
        padding: 0px;
        margin: 0px; } }
    body #carousel-wrapper .carousel .carousel-inner .carousel-caption {
      background: rgba(0, 0, 0, 0.7);
      text-align: left;
      padding: 10px; }
    body #carousel-wrapper .latest-movie-section {
      margin-top: 20px;
      margin-bottom: 20px; }
      body #carousel-wrapper .latest-movie-section .card {
        border-radius: 0px; }
        body #carousel-wrapper .latest-movie-section .card .card-body {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          display: flex;
          justify-self: center;
          align-items: center;
          text-align: center;
          font-family: 'Abril Fatface', cursive;
          color: #f8f8f8; }
      body #carousel-wrapper .latest-movie-section .card:hover .card-body {
        background: rgba(0, 0, 0, 0.8);
        color: red; }
      @media (max-width: 580px) {
        body #carousel-wrapper .latest-movie-section .col-md-4 {
          margin: 10px 20px; } }
  body .main {
    margin: 20px 0px; }
    body .main .row .posts-wrapper {
      border-radius: 0px; }
      body .main .row .posts-wrapper .posts {
        border-radius: 0px; }
        body .main .row .posts-wrapper .posts .movie-details {
          font-family: "Archivo Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px; }
          body .main .row .posts-wrapper .posts .movie-details .date {
            font-weight: 700; }
          body .main .row .posts-wrapper .posts .movie-details a {
            color: #282828; }
        body .main .row .posts-wrapper .posts .title {
          font-family: "Abril Fatface",sans-serif; }
        body .main .row .posts-wrapper .posts .text {
          font-family: "Gentium Book Basic",serif;
          font-size: 18px;
          line-height: 1.875;
          text-align: justify; }
    body .main .row .side-bar .search-bar-mini {
      background: #F2F2F2; }
      body .main .row .side-bar .search-bar-mini h3 {
        font-family: "Abril Fatface",sans-serif; }
      body .main .row .side-bar .search-bar-mini .form-control {
        border-radius: 0px; }

/*# sourceMappingURL=style.css.map */
